# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://s07031862_db_user:ntb1KSAwWy9BGVrb@expensecluster.7qsvuzi.mongodb.net

# Port for Express server
PORT=5000

# Client origin for CORS (local Vite dev server or Vercel URL)
CLIENT_URL=http://localhost:5173
